.THIS .c-container {
    border: 1px solid #d8dde6;
    
}

.THIS .custom-box {
    text-align: center;
    background-color: white;
    padding: 1rem;
    border: 3px solid #d8dde6;
   
    

}

.THIS {
    background-color:white;
}